<html>
  <head>
    <style type="text/css">
      body {
        background: rgb(84, 224, 182);
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Corgi Gif of the day</h4>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="https://giphy.com/search/corgi">Giphy</a></small></p>
    </div>
  </body>
</html>